

ion-input {
  margin: 0 0 8px 0;
  background: rgba(0,0,0,.02);
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
  padding-right: 10px !important;
  padding-left: 10px !important;
  width: 350px;
  max-width: 95%;
}

ion-title {
  margin-top: 25px;
  margin-bottom: 12px;
}

ion-button{
  color: white;
  --background: #851c35;
}

ion-col:first-child {
  width: 100px;
}

ion-list.dates > ion-item {
  padding: 0 12px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  margin-bottom: 6px;
}

::ng-deep .swiper-pagination.swiper-pagination-bullets {
  bottom: 80px;
}

.signup-col {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: block;
  padding: 0 20px;
  z-index: 999;
}