<ion-content padding class="masters">
    <div id="logo" padding text-center>
         <img src="../../../assets/img/fulllogo.jpeg">
    </div>
    <div dir="rtl">
        <form>
            <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="אימייל"></ion-input>
            <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="סיסמא"></ion-input>
            <div padding text-center>
                <ion-button (click)="login()" round color="light "  expand="full" icon-right>
                    כניסה
                    <ion-icon name="log-in"></ion-icon>
                </ion-button>
            </div>
        </form>
    </div>
    <ion-button routerLink="/register">
        <ion-icon name="add"></ion-icon>
        הרשמה
    </ion-button>
</ion-content>
