ion-content{
  --background: rgb(172, 241, 238) !important;

}

ion-input {
  --background: #fff;
  border-radius: 500px;
  margin: 0 0 25px 0;
}

ion-title {
      margin-top: 25px;
      margin-bottom: 12px;
    }