.masters{
  background-color: pink !important

}
page-login {
    div#logo {
      margin-top: 25px;
      margin-bottom: 12px;
    }


    .content {
      background-color: pink;
    }
    ion-item {
      background-color: pink;
    }
  
    ion-label {
      color: pink;
      text-align: center;
      margin: 0;
    }
  
    ion-label {
      margin: 0 0 5px 0;
    }
  
    ion-input {
      background-color: #fff;
      border-radius: 500px;
      margin: 0 0 25px 0;
    }
  }