//@import "../../../global";

$basicColor: #851c35;
ion-input {
  --background:#851c35;
  border-radius: 500px;
  margin: 0 0 25px 0;
  --color: white;
}

ion-button {
  --background: #851c35;
  margin-top: 25px;
  margin-bottom: 12px;
}

ion-icon{
  padding: 5px;
}