<ion-content padding class="masters">
    <div id="logo" padding text-center>
        <ion-title>
            רישום משתמש חדש
        </ion-title>
    </div>
    <div dir="rtl">
        <form>
            <ion-input type="email" [(ngModel)]="newAccount.email" name="email" placeholder="אימייל"></ion-input>
            <ion-input type="password" [(ngModel)]="newAccount.password" name="password"
                       placeholder="סיסמא"></ion-input>
            <ion-input type="password" [(ngModel)]="newAccount.confirmPassword" name="password"
                       placeholder="אימות סיסמא"></ion-input>
            <ion-input type="text" [(ngModel)]="newAccount.firstName" name="firstName"
                       placeholder="שם פרטי"></ion-input>
            <ion-input type="text" [(ngModel)]="newAccount.lastName" name="lastName" placeholder="שם משפחה"></ion-input>
            <div padding text-center>
                <ion-button (click)="signUp()" round color="light" icon-right>הרשמה
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>