<ion-header>
  <ion-toolbar>
    <ion-title slot="end">
      מסך ראשי
    </ion-title>
    <a routerLink="/settings" >
      <ion-icon class="settings" name="build"></ion-icon>
    </a>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <app-notification title="roni" description="blaaaa" severity="omg"></app-notification>
    </ion-item>
  </ion-list>
  <ion-button size="large" color="dark" class="help-button" routerLink="/treatment">אני צריך עזרה</ion-button>
</ion-content>